@import url(normalize.css);

body, h1, h2 {
    font-size: 20px;
}

.header, .footer {
    background-color: #FE1A19;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    line-height: 60px;
    padding-left: 20px;
}

.header h1 {
    margin: 0;
    font-weight: 700;
}

.footer p {
    margin: 0;
}

.content-container {
    margin: 0 auto;
    max-width: 1250px;
}

.content {
    padding-top: 52px;
    /* пришлось поставить 50 вместо 70, потому что на 
    моем экране при паддинге 70 правый блок не влазит */
    padding-bottom: 52px;
    width: 100%;
}

h2 {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

section {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    max-width: 380px;
    border:  5px solid #E5E000;
    border-radius: 30px;
    padding: 33px;
}

section:not(:last-child) {
    margin-right: 50px;
}

pre {
    white-space: pre-wrap;
    font-family: 'Times New Roman', serif;
    line-height: 23px;
}