@import url(normalize.css);

.flex-container {
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-item {
    width: 200px;
    height: 200px;
    font-size: 8em;
}

.emo {
    font-size: 8em;
    text-align: center;
}

.one {
    background-color: blueviolet;
}

.two {
    background-color: darksalmon;
}

.three {
    background-color: deeppink;
}

.four {
    background-color: deepskyblue;
}

.four:hover {
    background-image: url('https://trashbox.ru/ifiles/1338636_9f12b1_screenshot_05.png-orig/vlad-a4-wallpapers-android-7.jpg');
    background-size: contain;
}


