@import url(normalize.css);

.flex-container {
    height: 400px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-item {
    width: 200px;
    background-color: blueviolet;
    font-size: 8em;
}

.emo {
    font-size: 8em;
}

.one {

}