/* @import url(reset.css); */

:root {
    --color-primary: #0000FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 2.5rem;
}

.header, .footer {
    padding-left: 3rem;
    background-color: var(--color-primary);
    line-height: 10rem;
    color: white;
}

h1, h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.content-container {
    padding: 2.2rem;
    padding-top: calc(7vw);
    padding-bottom: calc(7vw);
}

.row {
    display: flex;
    flex-direction: column;
    /* height: calc((100vh - 24rem) / 2); */
    width: 33rem;
    margin: 0 auto;
}

.row:nth-child(2n + 1) {
    margin-bottom: 4rem;
}

.content-container section {
    line-height: 2.875rem;
    text-align: center;
    border: 0.5rem solid hsl(0, 29%, 11%);
    height: 16.5rem;
    width: 33rem;
    padding: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container section:not(:last-child) {
    margin-bottom: 4rem;
}

@media screen and (min-width: 667px) {
    .content {
        display: flex;
        justify-content: center;
    }

    .row {
        flex-direction: row;
        /* width: calc((100vw - 22rem)); */
        width: calc((85vw));
        margin: 0 auto;
    }

    .row:nth-child(2n + 1) {
        margin-bottom: 2rem;
    }

    .content-container section {
        /* width: 60rem; */
        /* width: calc((100vw - 24rem) / 2); */
        width: calc(85vw / 2);
        /* height: 30rem; */
        min-height: calc(85vw / 4);
        margin-bottom: 0;
    }

    .content-container section:first-child {
        margin-right: 2rem;
    }

    .content-container section:not(:last-child) {
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 5rem;
        line-height: 5.75rem;
    }
}
